<div class="row justify-content-center" style="margin-top: 15vh">
  <div class="col-md-5">
    <div class="card" style="padding: 5px">
      <div class="card-body">
        <div class="text-center"><%= image_tag('brand.png',:size=>"45x45")%></div>
        <h4 class="card-title text-center pt-3" style="padding-bottom: 10px">sign-up</h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-envelope-open"></i></div>
            </div>
            <%= f.email_field :email,
                            placeholder: 'Email',
                            required: true,
                            autofocus: true,
                            class: 'form-control',
                            input_html: { autocomplete: "email" } %>
          </div>
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <%= f.password_field :password,
                        placeholder: 'Password',
                        required: true,
                        class: 'form-control',
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-group">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <%= f.password_field :password_confirmation,
                          placeholder: 'Confirm Password',
                          required: true,
                          class: 'form-control',
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>

          <%- if controller_name != 'sessions' %>
            <%= link_to "Log in", new_session_path(resource_name) ,:class=>"link"%>
          <% end %>

          <div class="float-right">
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "No Confirmation?", new_confirmation_path(resource_name),:class=>"link"%>
          <% end %>
          </div>

          <div class="form-actions" style="margin-top: 10px">
            <%= f.button "sign-up",:class=>"btn btn-md btn-success btn-block", data:{disable_with: "<i class='fa fa-spinner fa-spin'></i> Connecting ..."},:style=>"margin-left:0"%>

            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name),:class=>"btn btn-md btn-primary" %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>