<% provide(:page_title, "| Account Page") %>
<div class="row  animated slideInDown delay-0.5s">
	<div class="col" style="margin-top: 5px">
		<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
		  <div class="text-white text-center py-0 px-4">
		    <div>
                <% if current_user %>
                    <% if @user.image.attached? %>
		    		    <%=image_tag(@user.image,:class=>"rounded-circle",:size=>"240x240") %>
                    <% else %>
                        <%=image_tag('user.png',:class=>"rounded-circle",:size=>"240x240") %>
                    <% end %>

                    <% if @user.name %>
                        <h4 style="margin-top: 20px"><%= @user.name %></h4>
                    <% else %>
                        <h4 style="margin-top: 20px"><%= @user.email %></h4>
                    <% end %>
                    <h2><%= @user.title %></h2>
                    <% if current_user == @user%>
						<div class="text-center">
							<%= link_to "Edit Profile", edit_user_registration_path,:class=>"btn btn-sm btn-primary" %>
						</div>
					<% end %>
				<% end %>
		    	<hr class="my-4">
			    <div class="row" style="margin-top: 50px">
			    	<div class="col-6">
				    	<div class="text-left" style="margin: 0 auto">

                            <% if !@user.work.blank? %>
						    <p><i class="fas fa-briefcase" style="margin-right: 10px"></i> <%= @user.work %></p>
                            <% end %>

                            <% if !@user.address.blank? %>
						    <p><i class="fas fa-map-marker-alt" style="margin-right: 10px"></i> <%= @user.address %></p>
                            <% end %>

                            <% if !@user.mobile_number.blank? %>
						    <p><i class="fas fa-mobile-alt" style="margin-right: 10px"></i> <%= @user.mobile_number %></p>
                            <% end %>

                            <% if !@user.whatsapp_number.blank? %>
                            <p>
                                <i class="fab fa-whatsapp" style="margin-right: 10px"></i>
                                <%= @user.whatsapp_number %>
                            </p>
                            <% end %>

                            <% if !@user.fb_link.blank? %>
						    <p><i class="fab fa-facebook-f" style="margin-right: 10px"></i> <%= @user.fb_link %></p>
                            <% end %>

                            <% if !@user.ig_link.blank? %>
						    <p><i class="fab fa-instagram" style="margin-right: 10px"></i> <%= @user.ig_link %></p>
                            <% end %>

                            <% if !@user.twitter_link.blank? %>
						    <p><i class="fab fa-twitter" style="margin-right: 10px"></i> <%= @user.twitter_link %></p>
                            <% end %>

                            <% if !@user.in_link.blank? %>
						    <p><i class="fab fa-linkedin-in" style="margin-right: 10px"></i> <%= @user.in_link %></p>
                            <% end %>

                            <% if !@user.github_link.blank? %>
                            	<p><i class="fab fa-github" style="margin-right: 10px"></i> <%= @user.github_link %></p>
                            <% end %>
					    </div>
			    	</div>
                    <% if !@user.bio.blank? %>
                        <div class="col-6">
                            <p class="text-left lead" style="font-size: 14px; margin-top: 65px">
                                <i class="fas fa-quote-left"></i>
                                <%= @user.bio%>
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                    <% end %>
			    </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<% if !@user.posts.blank? %>
<div class="container">
    <h4 class="text-center lead" style="margin: 20px 0px">Listing Posts</h4>
    <hr class="my-2">
<div class="row">
    <% @user_posts.each do |post| %>
    <div class="col-md-4">
        <div class="card text-left" style="margin-bottom: 10px">
                <div class="card-body">
                    <div class="text-center">
                        <% if post.user.image.attached? %>
                            <%= link_to image_tag(post.user.image,:size=>"36x36",:class=>"rounded-circle"), post.user %>
                        <% else %>
                            <%= link_to post.user.email, post.user %>
                        <% end %>
                    </div>
                    <div class="text-center">
                        <small><%= post.created_at.strftime("%B, %d, %Y")%></small>
                    <div class="card-text">
                        <%= link_to post.title, post_path(post),:class=>"post-link" %>
                    </div>
                    <%= link_to post do %>
                        <button class="btn btn-sm btn-primary">
                        <i class="far fa-thumbs-up"></i> <%= post.get_upvotes.size %>
                        <span style="padding: 0px 5px"></span>
                        <i class="far fa-thumbs-down"></i> <%= post.get_downvotes.size %>
                        <span style="padding: 0px 5px"></span>
                        <i class="far fa-eye"></i> <%= post.impressionist_count(:filter=>:ip_address) %>
                        <span style="padding: 0px 5px"></span>
                        <i class="far fa-comment"></i> <%= post.comments.count %>
                        </button>
                    <% end %>
                    </div>
                </div>
            </div>
    </div>
    <% end %>
</div>
</div>
<% end %>
