<% provide(:page_title, "| Account Page") %>
<div class="row justify-content-center animated slideInDown delay-0.5s" style="margin-top: 6vh">
    <div class="col text-center">
        <div class="card">
            <div class="card-body">
                <div id="profile">
                    <!-- Profile Image -->
                    <% if current_user %>
                      <% if @user.image.attached? %>
                            <%=image_tag(@user.image,:class=>"rounded-circle",:size=>"200x200") %>
                      <% else %>
                            <%=image_tag('user.png',:class=>"rounded-circle",:size=>"200x200") %>
                      <% end %>
                      <!-- /Profile Image -->
                      <!-- User Full Name -->
                      <% if @user.name %>
                        <h4 style="margin-top: 20px">
                          <%= @user.name %>
                        </h4>
                      <% else %>
                        <h4 style="margin-top: 20px"><%= @user.email %></h4>
                      <% end %>
                      <!-- /User Full Name -->

                      <!-- User Title -->
                      <% if @user.title %>
                        <h2><%= @user.title %></h2>
                      <% end %>
                      <!-- /User Title -->

                      <!-- Edit Profile button -->
                      <% if current_user == @user %>
                        <%= link_to "Edit Profile",
                            edit_user_registration_path,
                            :class=>"btn btn-sm btn-primary" %>

                      <% end %>
                      <!-- /Edit Profile button -->

                      

                      <!-- User Bio -->
                      <% if !@user.bio.blank? %>
                      <hr class="my-4">
                        <div class="col-12 text-center">
                          <p class="lead">
                              <%= @user.bio %>
                          </p>
                        </div>
                        <hr class="my-4">
                      <% end %>
                      <!--/ User Bio -->

                      <div class="text-left" style="padding-left: 20px">
                        <!-- User Work -->
                        <% if !@user.work.blank? %>
                          <i class="fas fa-briefcase" style="margin-right: 10px"></i>
                          <%= @user.work %>
                        <% end %>
                        <!-- /User Work -->

                        <br>

                        <!-- User Address -->
                        <% if !@user.address.blank? %>
                          <i class="fas fa-map-marker-alt" style="margin-right: 10px"></i> 
                          <%= @user.address %>
                        <% end %>
                        <!-- /User Address -->

                        <br>

                        <!-- User Mobile Number -->
                        <% if !@user.mobile_number.blank? %>
                          <i class="fas fa-mobile-alt" style="margin-right: 10px"></i>
                          <%= @user.mobile_number %>
                        <% end %>
                        <!-- /User Mobile Number -->

                        <br>

                        <!-- User Whatsapp Number -->
                        <% if !@user.whatsapp_number.blank? %>
                          <i class="fab fa-whatsapp" style="margin-right: 10px"></i>
                          <%= @user.whatsapp_number %>
                        <% end %>
                        <!-- /User Whatsapp Number -->

                        <br>

                        <!-- User FB Link -->
                        <% if !@user.fb_link.blank? %>
                          <i class="fab fa-facebook-f" style="margin-right: 10px"></i>
                          <%= @user.fb_link %>
                        <% end %>
                        <!-- /User FB Link -->

                        <br>

                        <!-- User Twitter Link -->
                        <% if !@user.twitter_link.blank? %>
                          <i class="fab fa-twitter" style="margin-right: 10px"></i>
                          <%= @user.twitter_link %>
                        <% end %>
                        <!-- /User Twitter Link -->

                        <br>

                        <!-- User IG Link -->
                        <% if !@user.ig_link.blank? %>
                          <i class="fab fa-instagram" style="margin-right: 10px"></i>
                          <%= @user.ig_link %>
                        <% end %>
                        <!-- /User IG Link -->

                        <br>

                        <!-- User IN Link -->
                        <% if !@user.in_link.blank? %>
                          <i class="fab fa-linkedin-in" style="margin-right: 10px"></i>
                          <%= @user.in_link %>
                        <% end %>
                        <!-- /User IG Link -->

                        <br>

                        <!-- User Github Link -->
                        <% if !@user.github_link.blank? %>
                          <i class="fab fa-github" style="margin-right: 10px"></i>
                          <%= @user.github_link %>
                        <% end %>
                        <!-- /User Github Link -->
                      <% end %>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<br>

<!-- Listing Posts -->
<% if !@user.posts.blank? %>
  <div class="row">
    <% @user_posts.each do |post| %>
      <div class="col col-md-4">
        <div class="card mb-2">
          <% if post.image.attached? %>
            <%= link_to image_tag(post.image,:class=>"card-img-top",:height=>"260")%>
          <% else %>
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" height="260">
          <% end %>
          <div class="card-body">
            <div class="text-center">
              <small><%= post.created_at.strftime("%B, %d, %Y")%></small>
              <div class="card-text">
                <%= link_to truncate(post.title,:length=>24), post_path(post),:class=>"post-link" %>
              </div>
              <%= link_to post do %>
                <button class="btn btn-sm btn-primary">
                  <i class="far fa-thumbs-up"></i> <%= post.get_upvotes.size %>
                  <span style="padding: 0px 5px"></span>
                  <i class="far fa-thumbs-down"></i> <%= post.get_downvotes.size %>
                  <span style="padding: 0px 5px"></span>
                  <i class="far fa-eye"></i> <%= post.impressionist_count(:filter=>:ip_address) %>
                  <span style="padding: 0px 5px"></span>
                  <i class="far fa-comment"></i> <%= post.comments.count %>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<!-- /Listing Posts -->

<!-- Back Button -->
<%= link_to posts_path do %>
  <button class="btn btn-md btn-info btn-block" style="margin-left: 0">
    <i class="fas fa-arrow-left"></i>
  </button>
<% end %>
<!-- /Back Button -->

