<div class="row justify-content-center animated slideInUp delay-0.5s">
	<div class="col-8 text-center mt-5">
		<%= image_tag('shimol.jpg',:class=>'rounded-circle', :size=>'145x145')%>
		<h4 class="text-center mt-3"><strong>Shimol Khan<strong></h4>
		<h4 class="text-center mt-3"><strong>Full-Stack Ruby On Rails Application Developer<strong></h4>
		<h6 class="text-center">Mastering UI/UX Designing, HTML5, CSS, SCSS, JavaScript, jQuery, Bootstrap, Material Design, Ruby, Ruby On Rails, And Sinatra Framework </h6>
		<h6 class="text-center">Heroku Cloud Deployment</h6>
		<h6 class="text-center">Amazon Web Service</h6>
		<hr class="my-3">
		<div class="text-center">
			<nav>
				<ul class="navbar-nav nav-flex-icons" style="display: inline-block;">
					<%= link_to "https://www.facebook.com/se.shimolkhan/",:target=>"_blank",:class=>"nav-link" do %>
		              <i class="fab fa-facebook-f link" style="padding: 10px"></i>
		            <% end %>

		            <%= link_to "https://www.instagram.com/se.shimolkhan/",:target=>"_blank",:class=>"nav-link" do %>
		              <i class="fab fa-instagram link" style="padding: 10px"></i>
		            <% end %>

		            <%= link_to "https://wa.me/00601116753634",:target=>"_blank",:class=>"nav-link" do %>
		              <i class="fab fa-whatsapp link" style="padding: 10px"></i>
		            <% end %>

		            <%= link_to "https://www.github.com/Shimol-Khan",:target=>"_blank",:class=>"nav-link" do %>
		              <i class="fab fa-github link" style="padding: 10px"></i>
		            <% end %>
	        	</ul>
	        </nav>
		</div>
	</div>
</div>