<% provide(:page_title, "| #{@post.title}") %>
<div class="row justify-content-center animated bounceInDown delay-0.5s">
	<div class="col-12">
		<div class="card" style="margin-top: 10px;margin-bottom: 10px; padding: 0px 10px">
			<div class="card-body">
				<div class="text-center">
					<% if @post.image.attached? %>
						<%= image_tag(@post.image,:size=>"220",:class=>"rounded-circle")%>
					<% end %>
					<h4 style="margin-top: 20px"><%= @post.title %></h4>

					<% if user_signed_in? %>
					<%= link_to like_post_path(@post), method: :put do %>
						<button class="btn btn-primary btn-sm">
							<i class="far fa-thumbs-up"></i></i> <%= @post.get_upvotes.size %>
						</button>
					<% end %>
						
					<%= link_to dislike_post_path(@post), method: :put do %>
						<button class="btn btn-primary btn-sm">
							<i class="far fa-thumbs-down"></i></i> <%= @post.get_downvotes.size %>
						</button>
					<% end %>
					<% end %>
					<br>
					<small><%= @post.created_at.strftime("%B, %d, %Y") %> by 
						<strong>
							<% if @post.user.name %>
								<%= link_to @post.user.name, @post.user,:class=>"link" %>
							<% else %>
								<%= link_to @post.user.email,@post.user,:class=>"link" %>
							<% end %>
						</strong>
					</small>
				</div>
				<div class="text-center" style="margin-top: 10px">
					<% if user_signed_in? %>
						<% if current_user && current_user == @post.user || current_user.admin? %>
								<%= link_to edit_post_path(@post) do %>
									<button class="btn btn-md btn-secondary">
										<i class="fas fa-pencil-alt"></i>
									</button>
							<% end %>

								<%= link_to post_path,method: :delete, data:{confirm:'Are you sure?'} do %>
									<button class="btn btn-md btn-danger">
										<i class="fas fa-trash"></i>
									</button>
							<% end %>
						<% end %>
					<% end %>
					<% if user_signed_in? %>
						<%= link_to new_post_path do %>
							<button class="btn btn-md btn-success">
								<i class="fas fa-arrow-right"></i>
							</button>
						<% end %>
					<% end %>
					<% if !user_signed_in? %>
						<%= link_to posts_path do %>
							<button class="btn btn-md btn-success">
								<i class="fas fa-arrow-left"></i>
							</button>
						<% end %>
					<% end %>
					<p class="lead text-justify"><%= @post.body.html_safe %></p>
					<div class="post-comments">
						<% @comments.each do |comment| %>
							<div id="comment_pane">
								<%= render 'comments/comment', comment: comment %>
							</div>
						<% end %>
					</div>
				</div>
		</div>
	</div>
</div>
<% if user_signed_in? %>
<br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 text-center">
			<div class="card" style="margin-bottom: 5px;padding-bottom: 0px">
				<div class="card-body">
				<%= form_with model: [@post, @comment], remote: true do |f| %>
					<%= f.text_area :body,:class=>"form-control",placeholder:'Comment',rows:5  %>
					<div class="text-center" style="padding-top: 5px">
						<%= f.submit "Comment",:class=>"btn btn-sm btn-success", remote: true %>
					</div>
				<% end %>
				</div>
	  		</div>
		</div>
	</div>
</div>
<% end %>