<% provide(:page_title, "| #{@post.title}") %>
<div class="row justify-content-center animated bounceInDown delay-0.5s">
	<div class="col-12">
		<div class="card" style="margin-top: 10px;margin-bottom: 10px; padding: 0px 10px">
			<div class="card-body">
				<div class="text-center">
					<% if @post.image.attached? %>
						<%= image_tag(@post.image,:size=>"220",:class=>"rounded-circle")%>
					<% end %>
					<h4 style="margin-top: 20px"><%= @post.title %></h4>

					<br>
					<small><%= @post.created_at.strftime("%B, %d, %Y") %> by 
						<strong>
							<% if @post.user.name %>
								<%= link_to @post.user.name, @post.user,:class=>"link" %>
							<% else %>
								<%= link_to @post.user.email,@post.user,:class=>"link" %>
							<% end %>
						</strong>
					</small>
				</div>
				<div class="text-center" style="margin-top: 10px">
					<% if user_signed_in? %>
						<% if current_user && current_user == @post.user || current_user.admin? %>
								<%= link_to edit_post_path(@post) do %>
									<button class="btn btn-md btn-secondary">
										<i class="fas fa-pencil-alt"></i>
									</button>
								<% end %>

								<%= link_to post_path,method: :delete, data:{confirm:'Are you sure?'} do %>
									<button class="btn btn-md btn-danger">
										<i class="fas fa-trash"></i>
									</button>
								<% end %>
						<% end %>
					<% end %>
					<% if user_signed_in? %>
						<%= link_to new_post_path do %>
							<button class="btn btn-md btn-success">
								<i class="fas fa-arrow-right"></i>
							</button>
						<% end %>
					<% end %>
					<% if !user_signed_in? %>
						<%= link_to posts_path do %>
							<button class="btn btn-md btn-success">
								<i class="fas fa-arrow-left"></i>
							</button>
						<% end %>
					<% end %>
					<p class="lead text-justify"><%= @post.body.html_safe %></p>
				</div>
		</div>
	</div>
</div>